@import './global/variables';
@import './global/color';

*{
   padding: 0;
   margin: 0;
   list-style: 0;
   outline: 0;
}

body {
   background: #dcdcdc;
}

#page {
   //width: $width;
   margin: 0 auto;
}

.info {
   border: 1px solid grey;
}

.data-block {
   background: $data-block;

   &__item{
      display: inline-block;
      vertical-align: top;
      padding: 5px 10px;

      &:first-child {
         width: 5%;
      }
      &:nth-of-type(2){
         width: 10%;
      }
      &:last-child{
         width: 81%;
      }
   }
}

.table {
   td {
      border: 1px solid grey;
      padding: 5px 10px;
   }
}

.service-table {
   .row {
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
         background: blue;
         color: #fff;
      }
   }
}

.selected {
   background: lighten(blue, 15%);
}

.profile-content {
   background: url('../images/avatar.jpg') no-repeat top right;
}